@stylesheets={}
@javascripts={}
@main("关于我们",stylesheets,javascripts){
<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">
			<div class="hero-unit">
				<h2>个人记账管理</h2>
				<h4 class="muted">"月光族"整理自己钱包的"法宝",让自己的每一分钱都有出处.</h4>
				<p>记账系统由黑鸟工作室的张鹏制作</p>
				<p>如果您在使用中有什么疑问可以直接发邮件到service#fanaifan.com </p>
				<p>当然可以到<a href="http://fblog.fanaifan.com" target="_blank">张鹏的博客</a>中留言</p>
				<p>我们也希望您的加入,可以直接关注github中的<a herf="https://github.com/fanaifan" target="_blank">饭爱饭</a></p>
				<p>来点击下面的注册,注册个账户用一下我们为您免费提供的系统吧!</p>
				<p align="center">
					<a href="/register" class="btn btn-primary btn-large">注册</a>
				</p>
			</div>
		</div>
	</div>
</div>
}